@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#383a3d;
} 
.banner{
    background: #e8ebd1;
    min-height: 100vh;
    align-items: center;
    padding:1rem 2rem;
    background: linear-gradient(110deg, #fdcd3b 60%, #f2f542 60%);

}
.description{
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 1rem;
}
.name{
    display:block;
    margin-left: 2rem ;
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Permanent Marker',
    cursive;
    color:#04274a;
}
.image-container {
    margin-right: 1rem;
    order:-1;
}
.desc{
    margin:2rem 1rem;
    max-width: 80%;
    font-size:19px;
    line-height: 2;
}
.image {
    width: 100%;
    display:block;
    border-radius: 15%;
    
}
.devider{
   width:300px;
   height: 4px;
   background: #0d7ca8;
   border-radius: 10px; 
}
.trans {
    background: teal;
    opacity: 0.5;
    transform: scale(1.2);
}

@media screen and (min-width:756px) {
    .banner {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:992px){
    .image-container{
        max-width:80%;
    }
}

/* CUSTOM LINE COLOR */
/* The line */
@media only screen and (min-width: 1170px){

    .vertical-timeline.vertical-timeline--two-columns:before
     {
        background: #E0D3DE;
    }
} 
.location {
    color: #8f8f8f;
    font-size: 0.9rem;
}
.section-center{
    margin: 4rem 0;
}
