@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #383a3d;
}
nav {
  display: flex;
  flex-direction: row-reverse;
  background: transform;
  padding: 1rem 2rem;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 30px;
  z-index: 10;
}
.nav-contact {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  margin-right: 2rem;
  transition: all 1s ease-in;
  border: transparent 2px solid;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  border-color: #04274a;
  transform: translateY(-5px);
}
.contact-btn {
  background: transparent;
  font-size: 1rem;
}
.header {
  /* background: linear-gradient(110deg, #fdcd3b 60%, #f2f542 60%); */
  background: linear-gradient(
    70deg,
    rgba(67, 146, 241, 1) 45%,
    rgba(236, 232, 239, 1) 46%
  );

  min-height: 50vh;
}
.banner {
  align-items: center;
  padding: 1rem 2rem;
}
.description {
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-top: 1rem;
  position: relative;
}
ul {
  list-style-type: circle;
}
ul li {
  font-size: 0.9rem;
}
.name {
  display: block;
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: "Permanent Marker", cursive;
  color: #04274a;
}
.image-container {
  margin-right: 1rem;
  order: -1;
}
.desc {
  margin: 2rem 0 1rem 0;
  max-width: 80%;
  font-size: 19px;
  line-height: 2;
}
.image {
  width: 100%;
  display: block;
  border-radius: 15%;
}
.animate-divider,
.devider {
  width: 300px;
  height: 4px;
  background: #0d7ca8;
  border-radius: 10px;
  margin-left: 2 rem;
}
.location {
  color: #8f8f8f;
  font-size: 0.9rem;
}
.section-center {
  margin: 4rem 0;
}
.about-btn {
  background: #025754;
  border: #025754 solid 2px;
  color: #fcf683;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 1s ease-in;
}
.about-btn:hover {
  background: #fcf683;
  color: #025754;
}

footer {
  /* background:#042e28; */
  /* background:#cf8508; */
  /* background:#9e752f; */
  /* background: radial-gradient(circle, rgba(253, 187, 45, 1) 70%, rgba(250, 240, 87, 1) 50%); */
  background: linear-gradient(
    70deg,
    rgba(236, 232, 239, 1) 46%,
    rgba(67, 146, 241, 1) 45%
  );
  padding: 1rem 2rem;
  text-align: left;
  color: #292216;
  max-height: 200px;
}
.contact {
  line-height: 1;
  letter-spacing: 1px;
}
.info-container h3,
footer h2 {
  color: #292216;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.info {
  color: #292216;
  text-transform: lowercase;
  margin: 1rem 0;
}

.section {
  padding: 3rem 0;
}
.info-container {
  margin: 1rem 0;
}

.projects-list {
  display: grid;
  max-width: 80vw;
  grid-template-columns: auto;
  padding: 0 1rem;
  margin: 1rem;
}
.project {
  margin: 2rem auto;
  transition: all 1s ease-in;
  text-decoration: none;
}
.project-img {
  width: 100%;
  transition: all 1s ease-in;
  display: block;
}

.project-image-container {
  overflow: hidden;
  /* border:#82b0a9 3px solid; */
  /* border:#9e752f 3px solid; */
  border: #f5da82 3px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project:hover {
  opacity: 0.7;
}
.project:hover .project-img {
  transform: scale(1.1);
}
.project-info {
  padding: 1rem;
  line-height: 1.4;
  /* background:#82b0a9; */
  background: #f5da82;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.animate-divider {
  animation: filling 15s ease infinite;
}
@keyframes filling {
  0% {
    width: 0;
  }
  100% {
    width: 300px;
  }
}
.projects-title {
  margin: 1rem;
  margin-top: 0;
  text-align: left;
  font-size: 2rem;
  color: #04274a;
}
.projects-title h2 {
  text-transform: uppercase;
}
.projects-title p {
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 2;
}
.single-project {
  padding: 2rem;
  margin: 1rem 2rem;
}
.single-project-title {
  text-align: left;
  margin: 1rem 4rem;
  text-transform: capitalize;
}
.single-project-title h3 {
  font-size: 2.5rem;
}
.single-project-title h5 {
  color: #8f8f8f;
}
.single-project-image-container {
  /* overflow:hidden;
    text-align: center;
    position:relative;
   
    height: 20vh;
    width: 60vw; */
  position: relative;
  margin-top: 50px;
}
.single-project-image {
  width: 100%;
  z-index: 2;
  position: relative;
  border-radius: 5px;
}
.single-project-image-container::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(254, 173, 39);
  z-index: 1;
}
.single-project-info {
  text-align: left;
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 70%;
}
.url {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1rem auto;
}
.single-project-info a {
  color: blue;
  display: inline-block;
  font-size: 1.1rem;
}
.single-project-desc {
  font-size: 1.2rem;
  line-height: 1.5;
}
/******************* media screen ******************/

.about {
  padding: 4rem 2rem;
  margin: 0 auto;
}

.dev-name {
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #663202;
}
.summery-desc p {
  line-height: 2;

  width: 90%;
  text-justify: left;
  color: #04274a;
}
.summery-desc a {
  text-decoration: none;
}

.skill-img {
  width: 60px;
}
.nextjs {
  height: 60px;
}

@media screen and (min-width: 756px) {
  .banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-list {
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact {
    display: flex;
    justify-content: space-around;
  }

  footer h2 {
    margin-left: 2rem;
    font-weight: bold;
  }

  .single-project-image-container {
    max-width: 50vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .image-container {
    max-width: 80%;
  }
  .single-project-image-container {
    max-width: 30vw;
    margin: 0 auto;
  }
  .banner,
  .section,
  .footer-container,
  .about {
    max-width: 75vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns:before {
    background: #e0d3de;
  }
  .projects-list {
    max-width: 90vw;
    grid-template-columns: repeat(3, 300px) !important;
  }
}
